{% load static %}
<div class="btn-actions">
    <button class="btn-small btn-edit" onclick="SystemModal.open('/clientes/telefone/{{ cliente.id }}/create')">
        Novo Telefone
    </button>
</div>
<div class="cliente-info fones">
    <div class="info-item">
        <span class="info-label">Telefone</span>
        <form id="form_del_telefone">
            {% csrf_token %}
            {% for telefone in cliente.telefones.all %}
            <div class="fone-row">
                <span class="info-value">
                    {% if telefone.whats_app %}
                    <img src="{% static 'img/whatsapp16x16.png' %}">
                    {% endif %}
                    {{ telefone.telefone }}
                </span>
                <button class="action-btn btn-small btn-delete" data-type="telefone" data-action="delete" data-cliente="{{ telefone.id }}">Excluir</button>
            </div>
            {% endfor %}
        </form>
    </div>
</div>