<div class="modal-overlay" id="sys-modal-overlay"></div>

<div class="modal" id="sys-modal">
    <div class="modal-body">
        <div class="cliente-form">
            <h3 id="sys-modal-title">{{ title }}</h3>

            <form id="modal_form">
                    {% csrf_token %}
                    <input type="hidden" name="cliente_id" value="{{ cliente_id }}">
                        <div class="form-row">
                            {% for boundfield in form %}
                            <div class="form-group">
                                <label for="{{ boundfield.id_for_label }}">
                                    {{ boundfield.label }}
                                </label>
                                {{ boundfield }}
                            </div>
                            {% endfor %}
                        </div>
                    <button type="submit" class="save-form btn-small btn-edit">Salvar</button>
            </form>
        </div>
    </div>

    <div class="modal-footer" id="sys-modal-footer">
        <button class="btn-small btn-delete" onclick="SystemModal.close()">Fechar</button>
    </div>
</div>