{% extends "menu.html" %}
{% load static %}
{% load admin_urls %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/cliente.css' %}">
{% endblock %}

{% block content %}
    <!-- Main Content -->
    <main class="main-content">
        <div class="container">
            <!-- Lista de Clientes -->
            <div class="clientes-lista" id="clientesLista">
                <div class="cliente-card">

                    {% include 'clientes/partials/dados-gerais.html' %}

                    {% include 'clientes/partials/part-mail.html' %}

                    {% include 'clientes/partials/part-fones.html' %}

                    {% include 'clientes/partials/part-endereco.html' %}

                    <div id="historico-agendas"></div>
                    <script>
                        carrega_agenda({{cliente.id}});
                    </script>

                </div>
            </div>
        </div>
    </main>
{% endblock %}
{% block extra_js %}
    <script src="{% static 'js/formHandler.js' %}"></script>
    <script src="{% static 'js/clientes.js' %}"></script>
{% endblock %}