{% extends "menu.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/cliente.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendas.css' %}">
{% endblock %}

{% block content %}
    <!-- Main Content -->
    <main class="main-content">
        <div class="container">
            <!-- Lista de Clientes -->
            <div class="clientes-lista" id="clientesLista">
                <div class="cliente-card">

                    {% include 'clientes/partials/dados-gerais.html' %}

                    {% include 'clientes/partials/part-mail.html' %}

                    {% include 'clientes/partials/part-fones.html' %}

                    {% include 'clientes/partials/part-endereco.html' %}

                    {% include 'vendas/registrar_venda.html' %}

                    {% include 'clientes/partials/registrar_atendimento.html' %}
                </div>
                <div class="cliente-card">
                    <div id="historico-agendas" data-cliente-id="{{ cliente.id }}"></div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
{% block extra_js %}
    <script src="{% static 'js/formHandler.js' %}" defer></script>
    <script src="{% static 'js/clientes.js' %}" defer></script>
    <script src="{% static 'js/vendas.js' %}" defer></script>
{% endblock %}