{% extends "menu.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/cliente.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendas.css' %}">
{% endblock %}

{% block content %}
    <!-- Main Content -->
    <main class="main-content">
        <div class="container">
            <!-- Lista do Cliente -->
            {% include 'clientes/partials/card_atendimento_cliente.html' %}
        </div>
    </main>
{% endblock %}
{% block extra_js %}
    <script src="{% static 'js/formHandler.js' %}" defer></script>
    <script src="{% static 'js/clientes.js' %}" defer></script>
    <script src="{% static 'js/vendas.js' %}" defer></script>
{% endblock %}