{% extends "menu.html" %}
{% load static %}
{% load admin_urls %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!-- Main Content -->
    <main class="main-content">
        <div class="container">
            <h2 class="page-title">Cadastro de Novo Cliente</h2>
            
            <!-- Formulário de Cadastro -->
            <div class="cliente-form">
                <h3>Preencha os dados do cliente</h3>
                <form id="clienteForm">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group">
                            <label>Empresa *</label>
                            {{ cliente_form.empresa }}
                        </div>

                        <div class="form-group">
                            <label>Tipo Pessoa *</label>
                            {{ cliente_form.tipo_pessoa }}
                        </div>

                        <div class="form-group">
                            <label>Nome Completo *</label>
                            {{ cliente_form.nome }}
                        </div>
                    </div>
                    <!-- CPF e Nascimento -->
                    <div class="form-row">
                        <div class="form-group">
                            <label>CPF/CNPJ *</label>
                            {{ cliente_form.documento }}
                        </div>

                        <div class="form-group">
                            <label>Nascimento *</label>
                            {{ cliente_form.data_nascimento }}
                        </div>
                    </div>

                    <!-- Civil -->
                    <div class="form-row">
                        <div class="form-group">
                            <label>Estado Civil *</label>
                            {{ cliente_form.estado_civil }}
                        </div>

                        <div class="form-group">
                            <label>Nome da Mãe *</label>
                            {{ cliente_form.nome_mae }}
                        </div>
                    </div>

                    <!-- Telefone -->
                    <div class="form-row">
                        <div class="form-group">
                            <label for="id_telefone-tipo">Tipo *</label>
                            {{ telefone_form.tipo }}
                        </div>

                        <div class="form-group">
                            <label>Telefone *</label>
                            {{ telefone_form.telefone }}
                        </div>

                        <div class="form-group">
                            <label>WhatsApp *</label>
                            {{ telefone_form.whats_app }}
                        </div>
                    </div>

                    <!-- Email -->
                    <div class="form-row">
                        <div class="form-group">
                            <label>Tipo *</label>
                            {{ email_form.tipo }}
                        </div>

                        <div class="form-group">
                            <label>E-Mail *</label>
                            {{ email_form.email }}
                        </div>
                    </div>

                    <!-- Botões -->
                    <div class="form-buttons">
                        <button type="submit" class="btn btn-primary bt-cadastrar-cli">
                            Cadastrar Cliente
                        </button>
                    </div>

                    <p class="form-hint">* Campos obrigatórios</p>
                </form>
            </div>
        </div>
    </main>
    <script src="{% static 'js/cadastro-cliente.js' %}"></script>
    <script src="{% static 'js/formHandler.js' %}"></script>
{% endblock %}
