{% extends "menu.html" %}
{% load static %}
{% load admin_urls %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/cliente.css' %}">
{% endblock %}

{% block content %}
    <!-- Main Content -->
    <main class="main-content">
        <div class="container">
            <h2 class="page-title">Dados do Cliente</h2>
            <!-- Lista de Clientes -->
            <div class="clientes-lista" id="clientesLista">
                <div class="cliente-card">

                    {% include 'clientes/partials/dados-gerais.html' %}

                    {% include 'clientes/partials/part-mail.html' %}

                    {% include 'clientes/partials/part-fones.html' %}

                    {% include 'clientes/partials/part-endereco.html' %}

                    <div class="historico">
                        <h4>HISTÓRICO DE ATENDIMENTOS</h4>
                        <div class="historico-item">${cliente.historico}</div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
{% block extra_js %}
    <script src="{% static 'js/formHandler.js' %}"></script>
    <script src="{% static 'js/clientes.js' %}"></script>
{% endblock %}